@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Poppins', sans-serif;
}

@layer base {
    h1, h2, h3, h4, h5, h6 {
        @apply font-bold
    }

    h1 {
        @apply text-3xl md:text-5xl
    }

    h2 {
        @apply text-2xl md:text-4xl
    }
}

.active-page {
    position: relative;
    color: #3b3bff;
}

.active-page::after {
    position: absolute;
    content: '';
    right: 0px;
    height: 100%;
    width: 3px;
    background-color: #3b3bff;
}

.authors-wrapper::-webkit-scrollbar {
    display: none;
}

.content-wrapper::-webkit-scrollbar {
    width: 5px;
}

.content-wrapper::-webkit-scrollbar-track {
    background: transparent;
}

.content-wrapper::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
    transition: all 250ms ease-in-out;
}

.content-wrapper:hover::-webkit-scrollbar-thumb {
    background-color: #5959ff;
}

.selected {
    border-color: #3b3bff;
    position: relative;
}

li.selected > span {
    display: block;
}

.selected::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-color: #5959ff;
    display: grid;
    place-content: center;
    padding: 1px;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    z-index: 19;
}
.selected::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-color: #fff;
    display: grid;
    place-content: center;
    color: white;
    padding: 1px;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    z-index: 20;
}


.filtered {
    background-color: #3b3bff;
    color: #fff;
}